<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Edit Article</h1>
</div>

<form method="post" action="/admin/articles/<%= article.id %>?_method=PATCH" encType="multipart/form-data">
  <% include ./_form %>
</form>
