<%#
  @name views-card
  @param {Object} image
  @param {String} image.src Link to image
  @param {String} image.alt Alt text for card__image
  @param {String} text Text to display at bottom of card
#%>
<div class="views-card">
  <div class="views-card__image-container">
    <img class="views-card__image" src="<%= image.src %>" alt="<%= image.alt %>">
  </div>
  <div class="views-card__body">
    <div class="views-card__text"><%= text %></div>
  </div>
</div>
