<h1><%= title %></h1> 

<img class = "image1" src ="https://duranvirginia.files.wordpress.com/2014/02/virginia-duran-blog-10-sites-to-take-the-best-skyline-pictures-in-san-francisco-mandarin-oriental-at-dusk.jpg" alt ="picture of sf">


 
 <p> <a href = "new-page"> This is my  </a>     </p> 








