<div class="container">
  <div class="row">
  <% for(let article of articles){ %>
    <div class="col-6">
      <a href="/articles/<%= article.id %>">
        <%- include('./components/views-card', {
              text: article.title,
              image: {
                src: article.pictureUrl,
                alt: article.title
              }
            }); %>
      </a>
    </div>
  <% } %>
  </div>
</div>
