<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/lib/bootstrap/css//bootstrap.css' />
    <link rel ='stylesheet' href='/stylesheets/style.css'/>
    <script src ='/lib/jquery/jquery.js'> </script>
    <script src ='/lib/bootstrap/js/bootstrap.bundle.js'> </script>

  </head>
<body>
   
    <div class="pos-f-t">
      <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
          <a class = "text-white h4"  href="/new-page"> San Franciso News <span class="sr-only">(current)</span></a>
          <!--<h5 class="text-white h4">San Francisco News </h5> -->
          <h5 class ="text-white h4"> Tech News </h5>
          <h5 class ="text-white h4"> Learning Tech </h5>
          <h5 class ="text-white h4"> Your View</h5>
          <!--<span class="text-muted">Toggleable via the navbar brand.</span> -->
        </div>
      </div>
      <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
    </div>


    <%- body %>
  </body>
</html>