<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel ='stylesheet' href='/stylesheets/components/new-page.css'/>
    <link rel='stylesheet' href='/lib/bootstrap/css//bootstrap.css' />
    <link rel ='stylesheet' href='/stylesheets/style.css'/>
    <link rel ='stylesheet' href='/stylesheets/components/views-card.css'/>
    <link rel ='stylesheet' href='/stylesheets/components/sidenav.css'/>
    <script src ='/lib/jquery/jquery.js'> </script>
    <script src ='/lib/bootstrap/js/bootstrap.bundle.js'> </script>
    <script src = '/javascripts/navbar.js'> </script>
  </head>

  <body class = "background-color">
    <div id="root"></div>
    <script src="/bundle.js"></script>
  </body>
</html>
