<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>

  </style>
    <link rel ='stylesheet' href='/stylesheets/components/new-page.css'/> 
    <link rel='stylesheet' href='/lib/bootstrap/css//bootstrap.css' />
    <link rel ='stylesheet' href='/stylesheets/style.css'/>
    <link rel ='stylesheet' href='/stylesheets/components/views-card.css'/>
    <script src ='/lib/jquery/jquery.js'> </script>
    <script src ='/lib/bootstrap/js/bootstrap.bundle.js'> </script>
    <script src = '/javascripts/navbar.js'> </script>
  </head>
<body class = "background-color">
     
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a class = "text-white h4"  href="/new-page"> View News <span class="sr-only">(current)</span></a>
        <a class ="text-white h4"> Tech Views </a>
        <a class ="text-white h4"> Your Tech </a>
        <a class ="text-white h4"> Your View</a>
  </div>
   <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
    <div class="pos-f-t">

      <div class="collapse" id="navbarToggleExternalContent">


          <span class="text-muted">Toggleable via the navbar brand.</span>
         </div>
      </div>






    </div>


    <%- body %>
  </body>
</html>
