<div class="container">
  <div class="row">
  <% for(let article of articles){ %>
    <div class="col-md-6">
      <a href="/articles/<%= article.id %>?categoryId=<%= categoryId%>" >
        <%- include('../components/views-card', {
              text: article.title,
              image: {
                src: article.pictureUrl,
                alt: article.title
              }
            }); %>
      </a>
    </div>
  <% } %>
  </div>
</div>
