.views-card {
  background: black;
  border: 1px dotted black;
  max-width: 250px;
  max-height: 150px;
  margin-bottom: 0.7em;


}

.views-card__image-container {
  overflow: hidden;
  max-height: 150px;
}

.views-card__image {
  width: 100%;
  opacity: 0.6;

}

.views-card__body {
  height: 95px;
}
.views-card__text {
  color: #FFF;
  font-size: 1.5rem;
  padding: 14px;
  position: absolute;
  top:40px;
  left:40px;
  right:80px;
  text-shadow: 3px  white;
}
