.views-card {
  background: black;
  border: 1px dotted black;
  max-width: 300px;
  max-height: 280px;
  margin-bottom: 45px;
  position: relative;

}

.views-card__image-container {
  overflow: hidden;
  max-height: 280px;
}

.views-card__image {
  width: 100%;
  opacity: 0.6;

}

.views-card__body {
  height: 95px;
}
.views-card__text {
  color: #FFF;
  font-size: 1.5rem;
  padding: 14px;
  position: absolute;
  top:30%;
  /* text-shadow: 3px  white; */
  font-style: italic;
  mix-blend-mode: white;
  text-shadow: 3px white;
  background-color: darkred;
  right:90px;
  left:70px;
  bottom:45px;
  overflow: hidden;
}
